<template id="column-template">
    <div class="kanban-column">
        <div class="kanban-column__header">
            <h3 class="kanban-column__title"><span class="kanban-column__shortcut" aria-hidden="true"></span></h3>
            <button class="kanban-column__toggle" type="button" aria-label="Show all tasks" aria-expanded="false" hidden>
                    <img class="kanban-column__toggle-icon" src="assets/icons/dropdown.svg" alt="" />
                </button>
            <div class="kanban-column__counter">
                <span class="kanban-column__counter-label"></span>
            </div>
        </div>
        <div class="kanban-column__content">
            <div class="kanban-column__cards"></div>
        </div>
    </div>
</template>